
h1.a {
    
    text-align: center;
}
img{
    width: max-content;
}
button.b {
    text-align: right;
    font-size: large;
}

button.b:hover{
    background-color: coral;
}
button.c{
    background-color: blueviolet;
    font-size: 25px;
}
